---
import { Image } from "astro:assets";
import {
  DiscordIcon,
  FaceBookIcon,
  GithubIcon,
  InstagramIcon,
  LinkedinIcon,
  TwitterIcon,
  PurpleWave,
  GmailIcon,
} from "../assets/SVGs";
import ThankYou from "./Preact/ThankYou";

const currentYear = new Date().getFullYear();
---

<footer
  class="relative bottom-0 w-full h-[50vh] flex justify-between items-center flex-col px-4 py-8 bg-footer"
>
  <Image
    src={PurpleWave}
    alt="LogoIcon"
    class="absolute -translate-y-full pb-4 w-full"
  />

  <div class="grid place-content-center">
    <p class="diff-font text-4xl lg:text-6xl">Vishal Hasnani</p>
  </div>

  <div class="grid grid-cols-3 lg:grid-cols-3 gap-x-20 gap-y-10 lg:gap-20">
    <a
      href="https://www.linkedin.com/in/vishal-hasnani-7b4028143/"
      target="_blank"
      rel="noreferrer"
    >
      <Image src={LinkedinIcon} alt="LinkedIn" width={30} height={30} />
    </a>

    <a href="https://github.com/Hasnanivishal" target="_blank" rel="noreferrer">
      <Image src={GithubIcon} alt="Github" width={30} height={30} />
    </a>

    <a href="mailto:hasnanivishal@gmail.com" target="_blank" rel="noreferrer">
      <Image src={GmailIcon} alt="Gmail" width={30} height={30} />
    </a>
  </div>

  <span>© Copyright 2017-{currentYear}</span>

  <ThankYou client:only="react" />
</footer>
